#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square{
  width: 100px;
  height: 100px;
  border: 5px black;
  background-color: black;
}

.answer{
  position: relative;
  height:50px;
  width: 350px;
  left: 10px;
  border: 2px solid black;
  text-align: center;
  
}
.button{
  margin-top:10px;
  border: 1px solid black;
}
